body{
    margin: 0px;
}

.contenedor-titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2vw
}
.contenedor-subtitulo{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5BB4DB;
  width: 100%;
  height: 5vw
}
.contenedor-noticias{
  display: flex;
  margin-top: 20px;
}

.title{
    font-size: 5vw;
    font-family: 'Times New Roman';
    font-weight: bolder;
    margin: 0px;
    align-self: center;
}

.subtitle{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2.5vw;
  font-weight: 600;
  margin: 0px;
}
.subtitle2{
  padding: 0.8vw;
  font-size: 1.5vw;
  font-weight: 600;
  margin: 0px;
}

.form-filtros{
  padding-left: 40px;
  padding-top: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1vw;
  font-weight: 600;
  
}

.form-checkbox{
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  background-color: #D9F4FF; 
  border-radius: 50%; 
  outline: none; 
  margin: 0px;
}
.form-checkbox:checked {
  background-color: #1B7095; /* Cambia el color de fondo cuando está marcado */
}

.form-option{
  position: absolute;
  padding-left: 10px;
}

.fondo{
  display: flex;
  background-color: #D9F4FF;
  height: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.filtros{
  position: sticky;
  background-color: #ABCFE9;
  margin: 30px;
  margin-top: 30px;
  top: 20px;
  width: 35vw;
  height: 40vw;
  border-radius: 10px;
}

.noticia{
  background-color: #ABCFE9;
  border-radius: 10px;
  margin-bottom: 20px;
}

.big-text{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5vw;
    margin: 0px;
}

.imagen-logo{
    height: auto;
    max-width: 10%;
    align-self: center;
    padding-left: 2vw;
}

.nav-link{
    padding: 1vw !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: black;
    font-size: 1.2vw;
}

.container-fluid{
    display: flex;
    max-height: 170px;
}

.navbar-collapse{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 0.8;
}

.navbar-nav{
    display: flex;
    align-items: center;
    list-style-type: none;
}

.navbar-toggler {
  width: 5vw;
  height: 5vw;
  display: none;
  color: rgba(255, 255, 255, 0.85);
  border-radius: 5px;
}

.submit-btn{
  background-color: #1B7095;
  border-radius: 7px;
  color: white;
  border-width: thin;
  margin-top: 10px;
  font-size: inherit;
}
  
@media only screen and (max-width: 1315px) {
  .navbar-toggler {
    display: block;
  }
  .navbar-nav{
    display: none;
  }
  .navbar-collapse{
    justify-content: space-around;
  }
}

.form-control{
    border-radius: 6px;
    border-color: #fff;
    height: 18%;
}
.btn-outline-success{
    border-radius: 6px;
    height: 18%;
}