body{
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;
    background-color: #D9F4FF;
}
textarea{
  height: 5vw;
  border-radius: 10px;
}

.big-text{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.5vw;
  margin: 0px;
}

.bloque-texto{
  padding-left: 2vw;
  line-height: 1.5;
  margin-bottom: 4vw;
}

.fondo-pub {
  background-color: #C5EEFF;
  border-radius: 10px;
  margin-left: 20vw;
  margin-right: 20vw;
  margin-top: 2vw;
  padding: 20px;
  padding-top: 10px;
}

.contenedor{
  background-color: #C5EEFF;
  border-radius: 10px;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 2vw;
  padding: 20px;
  padding-top: 10px;
}
.contenedor-titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2vw
}
.contenedor-subtitulo{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5BB4DB;
  width: 100%;
  height: 5vw
}
.contenedor-noticias{
  margin-top: 2vw;
}

.title{
  font-size: 5vw;
  font-family: 'Times New Roman';
  font-weight: bolder;
  margin: 0px;
  align-self: center;
}

.titulo-noticia{
  text-decoration: none;
  color: black;
}
.titulo-noticia:hover{
  color: #1B7095;
}

.subtitle{
  font-size: 2.5vw;
  font-weight: 700;
  margin: 0px;
}
.subtitle2{
  padding: 0.8vw;
  font-size: 1.5vw;
  font-weight: 700;
  margin: 0px;
}

.form-publicar {
  width: 500px;
  margin: 0 auto;
  padding: 20px;
}

.form-publicar label {
  font-size: 28px;
  font-weight: bold;
  font-family: ;
  color: #002231;

}

.form-publicar input,
.form-publicar textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #E3F7FF;
}

.form-publicar button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #000000;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-filtros{
  padding-left: 2vw;
  padding-top: 1vw;
  font-size: 1vw;
  font-weight: 600;
  width: inherit;
  height: 25vw;
}

.form-checkbox{
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  background-color: #D9F4FF; 
  border-radius: 50%; 
  outline: none; 
  margin: 0px;
  font-size: auto;
}
.form-checkbox:checked {
  background-color: #1B7095; /* Cambia el color de fondo cuando está marcado */
}

.form-option{
  position: absolute;
  padding-left: 10px;
}

.fondo{
  display: flex;
  background-color: #D9F4FF;
  height: 100%;
}

.filtros{
  position: sticky;
  background-color: #ABCFE9;
  margin: 2vw;
  top: 20px;
  width: 15vw;
  height: 30vw;
  min-height: 450px;
  border-radius: 10px;
}

.noticia{
  background-color: #C5EEFF;
  border-radius: 10px;
  margin-bottom: 2vw;
  margin-right: 2vw;
  padding: 20px;
  padding-top: 10px;
}

.info-noticia{
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}
.tag-noticia{
  background-color: #5BB4DB;
  border-radius: 10px;
  font-size: large;
  align-self: baseline;
  padding: 5px;
}

.imagen-logo{
    height: fit-content;
    max-width: 70%;
    align-self: center;
}

.nav-link{
    padding: 1vw !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: black;
    font-size: 1.2vw;
}

.link-logo{
  max-width: 15vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 5vw;
}

.container-fluid{
    display: flex;
    max-height: 140px;
    background-color: #77D4FC;
    flex-grow: 1;
}

.navbar-collapse{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 0.8;
}

.navbar-nav{
    display: flex;
    align-items: center;
    list-style-type: none;
}

.navbar-toggler {
  width: 5vw;
  height: 5vw;
  display: none;
  color: rgba(255, 255, 255, 0.85);
  border-radius: 5px;
}

.submit-btn{
  background-color: #1B7095;
  border-radius: 15px;
  color: white;
  border: #D9F4FF;
  margin-top: 10px;
  font-size: inherit;
  padding: 7px;
  padding-left: 15px;
  padding-right: 15px;
}
  
@media only screen and (max-width: 1315px) {
  .navbar-toggler {
    display: block;
  }
  .navbar-nav{
    display: none;
  }
  .navbar-collapse{
    justify-content: space-around;
  }
}

.form-control{
    border-radius: 6px;
    border-color: #fff;
    height: 18%;
}
.btn-outline-success{
    border-radius: 6px;
    height: 18%;
}