{% extends 'main/layouts/nav1.html' %}

{% block content %}

<div class="contenedor-subtitulo">
  <p class="subtitle">Acerca de</p>
</div>
<section id="about" class="contenedor-about">
  <h2>¿Qué es noticio?</h2>
  <p>Noticio es la plataforma de noticias que te muestra las noticias que necesitas y prefieres. NO MAS noticias basura, desinformación ni amarillismo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae molestie nisl. Fusce posuere tincidunt diam, vel gravida sem vulputate ac. Donec tortor velit, egestas congue odio sed, congue blandit enim. Donec porttitor faucibus purus a vehicula. Integer urna sem, gravida et sagittis vel, vehicula in ex.</p>
  <h2>¿Por qué Noticio?</h2>
  <p>El mundo de las noticias digitales necesita una revolución. Entrar a cualquier medio digital es como obtener el mismo periódico físico, pero en una página web. Esto dio la partida para que surgiera Noticio. En Noticio buscamos aprovechar las herramientas del mundo digital, como la personalización, que podemos ver en otras industrias.
  Además, nos enfrentamos a los problemas tradicionales de desinformación, noticias basura y amarillismo, entre otros, que tratamos de evitar diariamente en nuestra plataforma.</p>
</section>

{% endblock %}