{% extends 'main/layouts/nav1.html' %}

{% block content %}
<div class="contenedor-subtitulo">
    <p class="subtitle">Iniciar Sesión</p>
</div>

{{error.as_p}}

<div class = "fondo-pub">
    <form method = 'post' class="formIS">
        {% csrf_token %}
        {{form.as_p}}
        <button>
            Iniciar Sesión
        </button>
    </form>
    <div class="error">{{error}}</div>
    <p class="bloque-texto">¿No tienes una cuenta? <a href = /registro>Regístrate</a></p>
</div>

{% endblock %}