{% extends 'main/layouts/nav1.html' %}

{% block content %}
<div class="contenedor-subtitulo">
    <p class="subtitle">En tendencia esta semana</p>
</div>

<div class="contenedor">
    <h2>{{noticia.titulo}}</h2>
    <p>----------------------------</p>
    <div class="info-noticia">
        <p class="tag-noticia">{{noticia.tags}}</p>
        <div>
            <h5>{{noticia.fecha}}</h5>
            <h5>{{noticia.autor}}</h5>
        </div>
    </div>
    <article style="padding-left: 5vw; padding-right: 5vw; line-height: 1.5;">{{noticia.contenido}}</article>
</div>

{% endblock %}