{% extends 'main/layouts/nav1.html' %}


{% load static %}
{% block content %}
<div class="contenedor-subtitulo">
    <p class="subtitle">Tu Perfil</p>
</div>

<div class="fondo-perfil">
    <div class="contenedor-perfil">
        <div class="bloque-perfil">
            {% if user.profile_pic == null %}
            <img src="{% static 'imagen perfil.png' %}" class="imagen-logo">
            {% else %}
            <img src = "{{ user.profile_pic }}" class = "imagen-logo" alt="error cargando foto de perfil">
            {% endif %}
            {{user.username}}
        </div>
        <div style="width: -webkit-fill-available;">
            <h2 class="subtitle">Noticias Guardadas</h2>
            <div class="bloque-noticias-guardadas">
                {% for noticia in user.saved_news.all %}
                {% if noticia.url == null %}
                <a class="titulo-noticia" href = '/noticia/{{noticia.id}}' target = "_blank"><h2>{{noticia.titulo}}</h2></a>
                {% else %}
                <a class="titulo-noticia" href = {{noticia.url}} target = "_blank"><h2>{{noticia.titulo}}</h2></a>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div style="width: -webkit-fill-available">
        <h2 class="subtitle" style="margin: 2vw; margin-left:0px">Tus gustos</h2><a href = '/editar'><h5>editar</h5></a>
        <div class="contenedor-gustos">
            {% for tag in user.preferences %}
            <h2 class="tag-noticia">{{tag}}</h2>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}