{% extends 'main/layouts/nav1.html' %}

{% block content %}
<div id="subtitulo" class="contenedor-subtitulo">
    <p class="subtitle">En tendencia esta semana</p>
</div>
<div class="fondo">
    <div style="display: flex; flex-direction: column">
        <div id="filtros" class="filtros">
            <p class="subtitle2">Filtrar por temas:</p>
            <form class="form-filtros" method="get">
                {% if "Economía" in applied_tags %}
                <input type="checkbox" name = "Economía" class="form-checkbox" id="eco" checked>
                {% else %}
                <input type="checkbox" name = "Economía" class="form-checkbox" id="eco">
                {% endif %}
                <label for="eco" class="form-option">Economía</label><br><br>
                {% if "Industria" in applied_tags %}
                <input type="checkbox" name = "Industria" class="form-checkbox" id="eco" checked>
                {% else %}
                <input type="checkbox" name = "Industria" class="form-checkbox" id="ind">
                {% endif %}
                <label for="ind" class="form-option">Industria</label><br><br>
                {% if "Nación" in applied_tags %}
                <input type="checkbox" name = "Nación" class="form-checkbox" id="eco" checked>
                {% else %}
                <input type="checkbox" name = "Nación" class="form-checkbox" id="nac">
                {% endif %}
                <label for="nac" class="form-option">Nación</label><br><br>
                {% if "Deportes" in applied_tags %}
                <input type="checkbox" name = "Deportes" class="form-checkbox" id="eco" checked>
                {% else %}
                <input type="checkbox" name = "Deportes" class="form-checkbox" id="dep">
                {% endif %}
                <label for="dep" class="form-option">Deportes</label><br><br>
                {% if "Farándula" in applied_tags %}
                <input type="checkbox" name = "Farándula" class="form-checkbox" id="eco" checked>
                {% else %}
                <input type="checkbox" name = "Farándula" class="form-checkbox" id="far">
                {% endif %}
                <label for="far" class="form-option">Farándula</label><br><br>
                {% if "Política" in applied_tags %}
                <input type="checkbox" name = "Política" class="form-checkbox" id="eco" checked>
                {% else %}
                <input type="checkbox" name = "Política" class="form-checkbox" id="pol">
                {% endif %}
                <label for="pol" class="form-option">Política</label><br><br>
                {% if "Mundo" in applied_tags %}
                <input type="checkbox" name = "Mundo" class="form-checkbox" id="eco" checked>
                {% else %}
                <input type="checkbox" name = "Mundo" class="form-checkbox" id="mun">
                {% endif %}
                <label for="mun" class="form-option">Mundo</label><br><br>
                {% if "Opinión" in applied_tags %}
                <input type="checkbox" name = "Opinión" class="form-checkbox" id="eco" checked>
                {% else %}
                <input type="checkbox" name = "Opinión" class="form-checkbox" id="op">
                {% endif %}
                <label for="op" class="form-option">Opinión</label><br>
                <input type="submit" class="submit-btn" value="Aplicar">
            </form>
        </div>
    </div>
    <div class="contenedor-noticias">
        {% for noticia in noticias %}

        {% if noticia.tags in applied_tags %}
        <div class="noticia">
            {% if noticia.url == null %}
            <a class="titulo-noticia" href = '/noticia/{{noticia.id}}' target = "_blank"><h2>{{noticia.titulo}}</h2></a>
            {% else %}
            <a class="titulo-noticia" href = {{noticia.url}} target = "_blank"><h2>{{noticia.titulo}}</h2></a>
            {% endif %}
            <article class="bloque-texto">{{noticia.resumen}}</article>
            <div class="info-noticia">
                <p class="tag-noticia">{{noticia.tags}}</p>
                <div>
                    <p>{{noticia.autor}}</p>
                    <p>{{noticia.fecha}}</p>
                    {% if user.is_authenticated %}
                        <!-- hay que validar tambien que no tenga ya guardada la noticia-->
                        {%if not noticia in user.saved_news.all %}
                        <form class="guardar" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="noticia_id" value="{{ noticia.id }}">
                            <input type="hidden" name="operacion" value="save">
                            <input type="submit" value="+" class="save-btn">
                        </form>
                        {% else %}
                        <form class="'guardar" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="noticia_id" value="{{ noticia.id }}">
                            <input type="hidden" name="operacion" value="unsave">
                            <input type="submit" value="-" class="unsave-btn">
                        </form>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        {% endif %}

        {% endfor %}
    </div>
    <div id="scroll" class="scroll" onclick="scrollToTop()">
        &#9650;
    </div>
</div>

{% endblock %}
